:root {
  --PINK: #e86f54;
  --DARK-PINK: #e25b41;
  --WHITE: #ffffff;
  --BLACK: #000000;
  --LIGHTGREY: #5c5c5c;
  --INACTIVE_BROWN: rgba(232, 111, 84, 0.4);
  --FADEDBLACK: rgba(17, 17, 17, 0.7);
  --CORRECTCOLOR: #3cbc81;
  --ERRORCOLOR: #e74a3b;
}

body {
  background: var(--WHITE);
  color: var(--BLACK);
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.delivery-section h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--BLACK);
  position: relative;
  margin: 0 0 32px;
}

.delivery-section h2::after {
  content: '';
  width: 148px;
  height: 1px;
  background-color: var(--BLACK);
  position: absolute;
  top: 50%;
  margin-left: 14px;
}

.delivery-list {
  counter-reset: item;
  list-style-type: none;
  margin: 0;
}

.delivery-list li {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.delivery-list li span {
  color: var(--BLACK);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 14px 8px;
}

.delivery-list li::before {
  content: counter(item) '';
  counter-increment: item;
  color: var(--BLACK);
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2em;
}

.delivery-img {
  margin: 26px 0 0;
  width: 100%;
}

.delivery-list li:hover::before {
  background-color: coral;
}

