:root {
  --FONT-FAMILY: 'Roboto', sans-serif;
  --RED: #ff001b;
  --WHITE: #fff;
  --BLACK: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--FONT-FAMILY);
  font-weight: 500;
  font-size: 12px;
  color: var(--WHITE);
}

.SectionHeader {
  background-image: url('../images/mobile.jpg');
  background-repeat: round;
  background-size: cover;
  height: 230px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .SectionHeader {
    background-image: url('../images/mobile@2x.jpg');
  }
}

.Nav {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogoWrapper {
  display: flex;
  cursor: pointer;
}
.LogoImage {
  display: flex;
  align-items: center;
}
.LogoText {
  display: none;
}
.UlNav {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.LiNav {
  text-decoration: none;
  line-height: 14.06px;
  text-transform: uppercase;
  text-align: center;
  color: var(--WHITE);
  position: relative;
}
.LiNav::after {
  content: '';
  background-color: var(--RED);
  right: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  position: absolute;
  transition: width 300ms, left 300ms;
}
.LiNav:hover::after {
  width: 100%;
  left: 0;
}

.Current::after {
  content: '';
  background-color: var(--RED);
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 280px;
  height: 20px;
  color: var(--WHITE);
  position: relative;
  margin: 0 auto;
}

.SearchInput {
  flex-grow: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--WHITE);
  outline: none;
  font-size: 16px;
}

.SearchButton {
  border: none;
  background-color: transparent;
  color: var(--WHITE);
  cursor: pointer;
}
.SearchIcon {
  margin-right: 5px;
  fill: var(--WHITE);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.SearchBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 0px);
  height: 0.5px;
  background-color: var(--WHITE);
}
.SearchInput::placeholder {
  color: var(--WHITE);
  width: 96px;
  height: 16px;
}
.SearchInput:focus::placeholder {
  color: transparent;
}
@media screen and (min-width: 591px) {
  @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .SectionHeader {
      background-image: url('../images/tablet@2x.jpg');
    }
  }
  .SectionHeader {
    background-image: url('../images/tablet.jpg');
    height: 219px;
  }
  .Nav {
    padding: 40px 32px;
  }
  .LogoWrapper {
    gap: 10px;
  }
  .LogoText {
    font-weight: 500;
    font-size: 30px;
    color: var(--WHITE);
    display: inline;
    line-height: 35.16px;
  }
}
@media screen and (min-width: 1071px) {
  .SectionHeader {
    background-image: url('../images/desktop.jpg');
    height: 216px;
  }
}



.IndexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 15px;
  }
}

.card {
  width: 280px;
  margin-bottom: 20px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.05);
  }
}

.card img {
  width: 100%;
  height: 398px;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    height: 455px;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.card h1 {
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--BLACK);

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card p {
  line-height: 1.33;
  color: var(--ORANGE);

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.films-list {
  margin-top: 230px;
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 1071px) {
    margin-top: 216px;
    padding-top: 60px;
  }

  @media screen and (min-width: 591px) {
    margin-top: 219px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.card .details {
  display: flex;
}

.card .details p {
  margin: 0;
}

.card .details p:not(:last-child)::after {
  content: '|';
  margin-left: 5px;
  margin-right: 5px;
  color: var(--ORANGE);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;

  font-weight: 500;
  line-height: 1.33333;
}

.arrow-button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: #f7f7f7;
}
.arrow-button:hover {
  background-color: #d6d6d6;
}
.arrow-right {
  rotate: 180deg;
}

.page-button {
  background-color: transparent;
  height: fit-content;
}
@media (max-width: 606px) {
  .page-button:nth-last-child(-n + 4) {
    display: none;
  }
}

.current-page {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: var(--ORANGE);
  color: var(--WHITE);
}
.current-page:hover {
  background-color: #e25f08;
}

.footer {
  background-color: #f7f7f7;
  text-align: center;
  min-width: 320px;

  @media screen and (max-width: 767px) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer-text {
  color: #545454;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 1.172;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.171;
  }
}

.textfirst {
  display: block;
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}
// .modal-open {
//   overflow: hidden;
// }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-content {
  user-select: none;
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-height: 98vh;
  transition: width 0.1s ease-in-out;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-buttons button {
  border: 1px solid #000;
  border-radius: 5px;
  width: 110px;
  height: 44px;
}
.modal-buttons .watched {
  border: none;
  background: #ff6b01;
  color: #fff;
  line-height: 1.33;
  text-transform: uppercase;
  padding: 6px;
}
.queue {
  color: #000;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 6px;
}
.watched:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f15500;
}

.queue:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.modal-movie-image {
  border-radius: 5px;
}

.modal-movie-title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 23px;
}

.modal-movie-original-title {
  line-height: 133%;
  color: #000;
}

.modal-movie-about {
  line-height: 1.67;
  color: #000;
}
.modal-details-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.movieDetailsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  justify-content: space-between;
  gap: 20px;
}
.modal-additional-Info {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-direction: column;
}
.modal-additional-Info .modal-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-additional-Info .modal-row-wrapper .modal-data-name-wrapper,
.modal-additional-Info .modal-row-wrapper .modal-data-wrapper {
  flex: 1;
}
.modal-row-wrapper {
  display: flex;
  color: black;
}
.modal-data-name-wrapper {
  color: rgb(140, 140, 140);
  display: flex;
  flex: 1;
  line-height: 16px;
}
.modal-data-wrapper {
  color: rgb(140, 140, 140);
  color: black;
  flex: auto;
  line-height: 16px;
}
.modal-additional-Info .modal-data-name-wrapper,
.modal-additional-Info .modal-data-wrapper {
  flex: 1;
  align-items: center;
}

.modal-vote-average {
  margin-right: 3px;
  border-radius: 5px;
  padding: 1px 9px;
  background: rgb(255, 107, 1);
  color: rgb(255, 255, 255);
}
.modal-vote-count {
  border-radius: 5px;
  padding: 1px 9px;
  background: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
}

.modal-overview {
  color: rgb(0, 0, 0);
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.modal-overview-text {
  line-height: 20px;
}
.modal-overview-text-Head {
  line-height: 16px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 702px;
  }
  .modal-movie-image {
    width: 264px;
    height: fit-content;
  }
  .movieDetailsWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 68px;
    justify-content: normal;
  }
  .modal-details-container {
    width: 264px;
  }
  .modal-buttons button {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-content {
    width: 806px;
  }
  .modal-movie-image {
    width: 375px;
    height: fit-content;
  }
  .modal-movie-title {
    font-size: 30px;
    line-height: 35px;
  }
  .movieDetailsWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: normal;
  }
  .modal-details-container {
    width: 391px;
  }
  .modal-buttons button {
    width: 125px;
  }
  .modal-buttons .watched {
    margin-left: 5px;
    margin-right: 15px;
  }
  .modal-buttons {
    justify-content: start;
  }
}
