<!-- W taki sposbu dodajemy fragmenty w główny HTML-plik strony.
<main>
  <div class="watched-movies-section">
    <section class="film-section">
      <div id="watched-movies-container" class="IndexContainer"></div>
    </section>
  </div>
  <div class="queue-section">
    <section class="film-section">
      <div id="queue-container" class="IndexContainer"></div>
    </section>
  </div>
</main> -->
<main class="films-list">
  <section class="film-section">
    <div id="movie-container" class="IndexContainer"></div>
  </section>
</main>
<section class="watched-movies-section">
  <h2>Watched Movies</h2>
  <div id="watched-movies-container" class="IndexContainer"></div>
</section>
<section class="queue-section" style="display: none;">
  <h2>Queue Movies</h2>
  <div id="queue-container" class="IndexContainer"></div>
</section>
